<main class="home">
  <div class="items-wrapper">
    <div class="items">
      <h1>Items</h1>

      <form class="item-form" ng-submit="$ctrl.save()">
        <input name="item-name" 
              class="item-input"
              type="text" 
              placeholder="Type name here..."
              ng-model="$ctrl.itemName">
        <input class="item-submit" type="submit" value="Add new">
      </form>

      <div class="items-list">
        <div class="item-wrapper"
            ng-class="{ active: item.active }"
            ng-repeat="item in $ctrl.items.list track by $index">
          <div class="item">
            <div ng-click="$ctrl.activateItem(item.id)">
              <span class="item-name" ng-bind="item.name"></span>
              <span class="num-of-comments" ng-bind="item.comments.length"></span>
            </div>
            <button ng-click="$ctrl.deleteItem(item.id)">Delete</button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="comments-wrapper">
    <div class="comments">
      <h1>Comments #<span ng-bind="$ctrl.items.activeIndex"></span></h1>
      <div class="comments-list">
        <div class="comment"
            ng-class="{ purple: $odd, first: $index === 0 }"
            ng-repeat="comment in $ctrl.items.list[$ctrl.items.activeIndex-1].comments track by $index">
          <div class="user-img"></div>
          <p class="comment-text" ng-bind="comment"></p>
        </div>
      </div>

      <div class="comment-input" ng-if="$ctrl.items.activeIndex">
        <div class="user-img"></div>
        <form ng-submit="">
          <textarea name="comment" 
                    ng-model="$ctrl.comment"
                    ng-keyup="$ctrl.addComment($event)">
          </textarea>
        </form>
      </div>
    </div>
  </div>
</main>