.comment-input {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin: 0 24px 14px 19px;
}

.comment-input .user-img {
  width: 52px;
  height: 52px;
  background-color: #e6e6e6;
  margin-right: 15px;
}

.comment-input form {
  flex: 1 auto;
  height: 70px;
}

.comment-input form textarea {
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  resize: none;
  outline: none;
  border: 1px solid #ccc;
  font-family: "OpenSansRegular";
  font-size: .75rem;
  color: #666666;
}
.comment-input form textarea:focus {
   border-color:#27ccc0;
}