<form name="assignGroupToRole"
      ng-submit="assignGroupVm.assignGroupToRole(assignGroupVm.selectedRole.id, assignGroupVm.group.id, assignGroupVm.group)"
      novalidate>
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"
                ng-click="assignGroupVm.cancel()"><span
            aria-hidden="true">×</span></button>
        <h4 class="modal-title">
            {{'ASSIGN'| translate}} {{'GROUP'| translate}} {{'TO'| translate}} '{{assignGroupVm.selectedRole.name}}' {{'ROLE'| translate}}
        </h4>
    </div>
    <div class="modal-body">
        <div class="form-group" ng-show="assignGroupVm.groups.length">
            <label class="control-label" translate>GROUP</label>
            <select class="form-control"
                    ng-model="assignGroupVm.group"
                    ng-class="{'select-placeholder': !assignGroupVm.group}"
                    ng-options="assignGroupVm as assignGroupVm.name for assignGroupVm in assignGroupVm.groups">
                <option value="" disabled selected>{{'SELECT'| translate}} {{'GROUP'| translate}}</option>
            </select>
        </div>
        <div class="form-group" ng-show="!assignGroupVm.groups.length">
            <label class="control-label" translate>PH_ASSIGN</label>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-default"
                type="button"
                translate
                ng-click="assignGroupVm.cancel()">
            BTN_CANCEL
        </button>
        <button class="btn btn-primary"
                type="submit"
                translate
                ng-disabled="!assignGroupVm.groups.length">
            ASSIGN
        </button>
    </div>
</form>
