.hiddenmidden {
    overflow:hidden;
    white-space:nowrap;
    text-overflow:ellipsis;
    width:100%;
    display:block;

}

.byline {
    display: inline-block;
    color: #fff;
    margin-top: 30px;
    padding-left: 15px;
}

.page-fixed-main-content {
    min-height: 450px;
}

.dashboardtable td {
    padding: 4px;
}

.dashboardtable td.prompt {
    font-weight: bold;
}

.morris-default-style {
    display: none !important;
}

.username {
    color: #fff;
    display: inline-block;
    margin-top: 30px;
    margin-right: 16px;
}

.page-sidebar .page-sidebar-menu li {
    position: relative;
}

.page-sidebar .page-sidebar-menu li > a {
    padding: 12px 8px;
}

.page-sidebar .page-sidebar-menu li.current > a > i {
    color: #337ab7;
}

.page-sidebar .page-sidebar-menu li.current > a:hover > i {
    color: #337ab7;
}

.page-sidebar .page-sidebar-menu .sub-menu li > a {
    padding-right: 7px;
}

.page-sidebar .page-sidebar-menu .sub-menu li > a > i {
    font-size: 18px;
    text-shadow: none;
    font-weight: 300;
}

.tableheader {
    margin-bottom: 10px;
}

.tableheader .title {
    font-size: 24px;
    font-weight: 300;
}

.thumbnail .caption {
    padding: 2px;
}

.thumbnail .caption p {
    margin: 0px;
    font-size: 11px;
    text-align: center;
}

h5 {
    margin-top: 0;
}

.devicescroller {
    height: 320px;
    overflow: auto;
}

/*Streams*/
.streamarea {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: stretch;
    align-items: flex-start;
    padding-top: 0px;
    clear: both;
}

.streambox {
    -webkit-box-ordinal-group: 0;
    -moz-box-ordinal-group: 0;
    -ms-flex-order: 0;
    -webkit-order: 0;
    order: 0;
    -webkit-box-flex: 0 1 auto;
    -moz-box-flex: 0 1 auto;
    -webkit-flex: 0 1 auto;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    align-self: auto;
    margin: 10px;
    width: 380px;
    padding: 4px;
    position: relative;
}

.imgbox {
    height: 224px;
    padding: 4px;
    cursor: pointer;
    width: 100%;

    border: 1px solid #ccc;
}

.imgbox.error {
    padding: 3px 4px;
    border: 2px solid red;
}

.imgbox:hover {
    border-color: #337ab7;
}

.imgbox img {
    /*border: 1px solid #ccc;*/
    height: 214px;
    width: 100%;
}

.streambox .optionbar {
    text-align: center;
}

.streambox .infobar {
    font-size: 12px;
    text-align: center;
    padding-top: 2px;

}

.streambox .infobar .recording-on i {
    color: #b82c2c;
}

.streambox .optionbar table {
    width: 100%;
}

.streambox .optionbar table td {
    padding: 0px 2px;
}

.streambox .optionbar .btn {
    margin-top: 4px;
    margin-bottom: 4px;
    padding: 3px 6px 3px 6px;
    min-width: 70px;
}

.streampreview {
    position: relative;
    height: 400px;
    background-image: url("../images/stream-preview.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    border: 1px solid #333;
}

.streampreview .playbutton {
    position: absolute;
    height: 64px;
    width: 64px;
    border-radius: 32px;
    background-color: #333;
    left: 50%;
    top: 50%;
    margin-left: -32px;
    margin-top: -32px;
    text-align: center;
    border: 2px #fff solid;
    color: #fff;
    font-size: 36px;
    line-height: 64px;
    vertical-align: middle;
}

.streampreview-timestamp {
    position: absolute;
    bottom: 28px;
    right: 9px;
    font-weight: bold;
    color: lime;
    background-color: black;
    padding-left: 4px;
    padding-right: 4px;
}

.streampreview .playbutton i {
    margin-left: 8px;

}

.modal-viewer {
    width: 680px;
}

.infomark {
    font-size: 1.4em;
    color: #337ab7;
    margin-right: 4px;
    cursor: pointer;

}

.recordingprompt {
    font-size: 15px;
    line-height: 32px;
    vertical-align: middle;
    padding-right: 6px;
}

/*statuses*/
.status-good {
    color: #2ab71a;
}

.status-med {
    color: #ee9b21;
}

.status-bad {
    color: #ee1715;
}

.status-no {
    color: #ccc;
}

.select-row, .select-row:hover, .select-row:active {
    background-color: rgba(58, 177, 239, 0.46);
}

/*
Groups*/
.nopermission {
    color: #ccc;
}
.vertical40{width:3px;background-color:#333;height:40px;margin-right:auto;margin-left:auto;}


.info-details {
    display: none;
}

.form-horizontal.form-condensed .form-group {
    margin-bottom: 0px;
}

.nav-item .fa-chevron-right {
    padding-top: 4px;
}

div.form-group-inline label {
    display:block;
}

div.form-group-inline input {
    display:inline;
}

div.autoscale, div.typable{
    display: none;
}

div.form-group-inline label.control-label-inline {
    display:inline;
    margin-top: 1px;
    font-weight: 400;
}

.input-group-addon.clear {
    background-color: white;
    border: none;
}

.radio-inline.small div.radio, .checkbox-inline.small div.checkbox, .form-horizontal .radio-inline div.radio {
    padding-top: 3px;
}

.form-inline .moment-picker {
    display: inline-block;
}

.form-inline .form-group label {
   margin-right: 5px;
}

.form-inline .form-group .form-control {
   margin-right: 3px;
}

@media screen and (min-width: 768px) {
    .search-query {
        float: right !important;
        width:200px;margin-right:10px;
    }

    .visible-sm-plus-soft-inline {
        display: inline;
    }
}

@media screen and (max-width: 768px) {
    .container-fluid {
        padding-left: 0px;
        padding-right: 0px;
    }

    .page-content .page-fixed-main-content {
        padding: 0px;
    }

    .page-fixed-main-content > div > .portlet.light.bordered {
        border: none !important;
    }
    .page-fixed-main-content > div > .portlet {
        box-shadow: none;
    }

    .search-query {
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .modal-dialog {
        margin: 0px;
    }

    .modal .modal-content {
        -webkit-border-radius: 0px;
        -moz-border-radius: 0px;
        -ms-border-radius: 0px;
        -o-border-radius: 0px;
        border-radius: 0px;
        border: 0;
        box-shadow: none;
    }

    .hidden-xs-soft {
        display: none;
    }

    .hidden-xs-soft.collapsing {
        display: block;
    }
}

