<div class="portlet light profile-sidebar-portlet bordered">
    <div class="row">
        <div class="col-md-12">
            <div class="tableheader">
                <span class="title" translate>PUBLISHING_TARGETS</span>
                <div class="pull-right">
                    <button class="btn btn-primary"
                            ng-click="vm.openAddTargetModal()">
                        <i class="fa fa-plus"></i>
                        <span class='hidden-xs'>{{'BTN_ADD'|translate}} {{'PUBLISHING_TARGET'|translate}}</span>
                    </button>
                    <button class="btn"
                            style="margin-left: 8px"
                            ng-click="vm.updateTargets();">
                        <i class="fa fa-refresh"></i>
                    </button>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div class="table-scrollable clearfix" id="channeltable">
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th> #</th>
                        <th translate> NAME</th>
                        <th translate> TYPE</th>
                        <th translate> CHANNEL</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr class='http_details'
                        ng-repeat="item in vm.allTargets track by item.id"
                        ng-class="{'select-row': item.id === vm.selectTarget.id}"
                        ng-click="vm.setSelectedTarget(item);">
                        <td>{{$index+1}}</td>
                        <td>{{item.name}}</td>
                        <td>{{item.type | uppercase}}</td>
                        <td>{{item.adaptive_channel_name}}</td>
                    </tr>
                    <tr>
                        <td colspan="4" class="text-center" ng-show="!vm.allTargets.length">
                            {{'NO_TARGETS'|translate}}...
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <hr class="info-msg" ng-if="!vm.selectTarget">
    <h4 class="info-msg" ng-if="!vm.selectTarget">{{'SELECT' | translate }} {{'PUBLISHING_TARGET' | translate }} {{'ABOVE' | translate }}</h4>
    <div class="row info-msg" style="min-height: 250px;" ng-if="!vm.selectTarget">
    </div>

    <hr class="" ng-if="vm.selectTarget">

    <h4 ng-if="vm.selectTarget">{{'PUBLISHING_TARGET' | translate }}: {{vm.selectTarget.name}}</h4>

    <uib-tabset ng-if="vm.selectTarget">
        <uib-tab index="0">
            <uib-tab-heading>
                <i class="fa fa-list-ul pr-10"></i>
                {{'DETAILS' | translate }}
            </uib-tab-heading>
            <!-- Tab panes -->
            <div class="tab-content" id='s3_details'>
                <div class="tab-pane fade in active" id="tab1">
                    <form name="editForm" ng-submit="editForm.$valid && vm.saveChangeTarget()" novalidate>
                        <!-- Permission Group start -->
                        <div class="tableheader">
                            <span class="title">&nbsp;</span>
                            <div class="pull-right">
                                <button type="button"
                                        class="btn btn-primary edit-alt"
                                        ng-click="vm.editPublishingTarget();"
                                        translate
                                        ng-hide="vm.showEditTarget">
                                    BTN_EDIT
                                </button>
                                <button type="button"
                                        class="btn btn-danger edit-alt"
                                        ng-click="vm.deleteSelectTarget()"
                                        translate
                                        ng-hide="vm.showEditTarget">
                                    BTN_DELETE
                                </button>
                                <button type="submit"
                                        class="btn btn-primary edit"
                                        translate
                                        ng-show="vm.showEditTarget">
                                    BTN_SAVE
                                </button>
                                <button type="button"
                                        class="btn edit"
                                        ng-click="vm.cancelShowEditTarget()"
                                        translate
                                        ng-show="vm.showEditTarget">
                                    BTN_CANCEL
                                </button>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-8 col-xs-12">
                                <div class="form-horizontal form-condensed">
                                    <div class="form-group" ng-class="{'has-error' : vm.showEditTarget && editForm.$submitted && editForm.name.$error.required}" >
                                        <label class="col-sm-4 col-xs-5 control-label" translate>NAME</label>
                                        <div class="col-sm-8 col-xs-7">
                                            <p class="form-control-static edit-alt"
                                               ng-hide="vm.showEditTarget">
                                                {{vm.selectTarget.name}}</p>
                                            <input type="text"
                                                   name="name"
                                                   class="form-control input-inline input-medium edit"
                                                   ng-show="vm.showEditTarget"
                                                   ng-model="vm.editTarget.name"
                                                   required>
                                            <div class="help-block" ng-show="vm.showEditTarget && editForm.$submitted">
                                                <span ng-show="editForm.name.$error.required">{{'NAME'|translate}} {{'CANNOT_BE_EMPTY'| translate}}</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group" ng-class="{'has-error' : vm.showEditTarget && editForm.$submitted && editForm.resource_tag.$error.required}" >
                                        <label class="col-sm-4 col-xs-5 control-label" translate>ACCESS_TAG</label>
                                        <div class="col-sm-8 col-xs-7">
                                            <p class="form-control-static edit-alt"
                                               ng-hide="vm.showEditTarget">
                                                {{vm.selectTarget.resource_tag_name}}</p>
                                            <select class="form-control edit"
                                                    name="resource_tag"
                                                    ng-show="vm.showEditTarget"
                                                    ng-model="vm.editTarget.resource_tag_id"
                                                    ng-options="item.id as item.name for item in vm.resourceTags"
                                                    required>
                                            </select>
                                            <div class="help-block" ng-show="vm.showEditTarget && editForm.$submitted">
                                                <span ng-show="editForm.resource_tag.$error.required">{{'ACCESS_TAG'|translate}} {{'CANNOT_BE_EMPTY'| translate}}</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-4 col-xs-5 control-label" translate>TYPE</label>
                                        <div class="col-sm-8 col-xs-7">
                                            <p class="form-control-static">{{vm.selectTarget.type | uppercase}}</p>
                                        </div>
                                    </div>
                                    <div class="form-group" ng-if="vm.selectTarget.type === 's3'" ng-class="{'has-error' : vm.showEditTarget && editForm.$submitted && (editForm.s3Url.$error.required || editForm.s3Url.$error.pattern)}" >
                                        <label class="col-sm-4 col-xs-5 control-label">S3 URI</label>
                                        <div class="col-sm-8 col-xs-7">
                                            <p class="form-control-static"
                                               ng-hide="vm.showEditTarget">
                                                {{vm.selectTarget.ingest_url}}
                                            </p>
                                            <input type="url"
                                                   name="s3Url"
                                                   class="form-control"
                                                   ng-show="vm.showEditTarget"
                                                   ng-model="vm.editTarget.ingest_url"
                                                   ng-pattern="'^(http)?://.+'"
                                                   required/>
                                            <div class="help-block" ng-show="vm.showEditTarget && editForm.$submitted">
                                                <span ng-show="editForm.s3Url.$error.required || editForm.s3Url.$error.pattern">{{'INVALID'|translate}} URL</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group" ng-if="vm.selectTarget.type === 's3'" ng-class="{'has-error' : vm.showEditTarget && editForm.$submitted && editForm.access_key.$error.required}" >
                                        <label class="col-sm-4 col-xs-5 control-label">{{'ACCESS_KEY'|translate}} ID</label>
                                        <div class="col-sm-8 col-xs-7">
                                            <p class="form-control-static edit-alt"
                                               ng-hide="vm.showEditTarget">
                                                {{vm.selectTarget.aws_access_key_id}}
                                            </p>
                                            <input type="text"
                                                   name="access_key"
                                                   class="form-control input-inline input-medium edit"
                                                   ng-show="vm.showEditTarget"
                                                   ng-model="vm.editTarget.aws_access_key_id"
                                                   required>
                                            <div class="help-block" ng-show="vm.showEditTarget && editForm.$submitted">
                                                <span ng-show="editForm.access_key.$error.required ">{{'ACCESS_KEY'|translate}} ID {{'CANNOT_BE_EMPTY'| translate}}</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group" ng-if="vm.selectTarget.type === 's3'">
                                        <label class="col-sm-4 col-xs-5 control-label">{{'SECRET'|translate}} {{'ACCESS_KEY'|translate}}</label>
                                        <div class="col-sm-8 col-xs-7">
                                            <p class="form-control-static edit-alt"
                                               ng-hide="vm.showEditTarget">
                                                -</p>
                                            <input type="text"
                                                   name="secret_key"
                                                   class="form-control input-inline input-medium edit"
                                                   ng-show="vm.showEditTarget"
                                                   ng-model="vm.editTarget.aws_secret_key"
                                                   translate
                                                   translate-attr-placeholder="USE_CURRENT">
                                        </div>
                                    </div>
                                    <div class="form-group"
                                         ng-if="vm.selectTarget.type !== 's3'"
                                         ng-class="{'has-error' : vm.showEditTarget && editForm.$submitted && (editForm.ingest_url.$error.required || editForm.ingest_url.$error.pattern) }" >
                                        <label class="col-sm-4 col-xs-5 control-label">{{'INGEST'|translate}} URL</label>
                                        <div class="col-sm-8 col-xs-7">
                                            <p class="form-control-static edit-alt"
                                               ng-hide="vm.showEditTarget">
                                                {{vm.selectTarget.ingest_url}}
                                            </p>
                                            <input type="url"
                                                   name="ingest_url"
                                                   class="form-control input-inline input-medium edit"
                                                   ng-show="vm.showEditTarget"
                                                   ng-pattern="'^(http|https)?:(\/\/)?.+'"
                                                   ng-model="vm.editTarget.ingest_url"
                                                   required>
                                            <div class="help-block" ng-show="vm.showEditTarget && editForm.$submitted">
                                                <span ng-show="editForm.ingest_url.$error.required || editForm.ingest_url.$error.pattern">{{'INVALID'|translate}} URL</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group"
                                         ng-if="vm.selectTarget.type !== 's3'"
                                         ng-class="{'has-error' : vm.showEditTarget && editForm.$submitted && (editForm.playback_url.$error.required || editForm.playback_url.$error.pattern) }">
                                        <label class="col-sm-4 col-xs-5 control-label">{{'PLAYBACK'|translate}} URL</label>
                                        <div class="col-sm-8 col-xs-7">
                                            <p class="form-control-static edit-alt"
                                               ng-hide="vm.showEditTarget">
                                                {{vm.selectTarget.playback_url}}
                                            </p>
                                            <input type="url"
                                                   name="playback_url"
                                                   class="form-control input-inline input-medium edit"
                                                   ng-pattern="'^(http|https)?:(\/\/)?.+'"
                                                   ng-show="vm.showEditTarget"
                                                   ng-model="vm.editTarget.playback_url"
                                                   required>
                                            <div class="help-block" ng-show="vm.showEditTarget && editForm.$submitted">
                                                <span ng-show="editForm.playback_url.$error.required || editForm.playback_url.$error.pattern">{{'INVALID'|translate}} URL</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-4 col-xs-5 control-label" translate>DELETE_OUTDATED</label>
                                        <div class="col-sm-8 col-xs-7">
                                            <p class="form-control-static edit-alt"
                                               ng-hide="vm.showEditTarget">
                                                {{(vm.selectTarget.delete_outdated ? "YES":"NO") | translate}}
                                            </p>
                                            <label class="checkbox-inline small edit"
                                                   ng-show="vm.showEditTarget">
                                                <input type="checkbox"
                                                       id="inlineCheckbox3"
                                                       jq-uniform
                                                       ng-model="vm.editTarget.delete_outdated"
                                                       ng-true-value="1"
                                                       ng-false-value="0">
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </uib-tab>
    </uib-tabset>
</div>


