@import './fonts/fonts.css';

html, body {
   height: 100%;
   font-family: "OpenSansLight";
   font-size: 16px;
   margin: 0;
}

.app {
  height: 100%;
}

.app .content {
  width: calc(100% - 271px);
  height: 100%;
  margin-left: 271px;
}

body::-webkit-scrollbar {
  width: 10px;
}
body::-webkit-scrollbar-track {
  background-color: #e6e6e6;
  padding-right: 2px;
}
body::-webkit-scrollbar-thumb {
  background-color: #b3b3b3;
}

body::-webkit-scrollbar-thumb:hover {
  background-color: #999999;
}

body::-webkit-scrollbar-thumb:active {
  background-color: #878787;
}

navbar {
  background: #2b2f3e;
  width: 271px;
  height: 100%;
  position: fixed;
}

.navbar .navbar-title {
  margin: 30px 0 0 27px;
  font-size: 2.25rem;
  color: #565a69;
}

.navbar .navbar-item {
  background: linear-gradient(to bottom, #ff2d5c, #ff404b);
  height: 57px;
  margin-top: 77px;
}

.navbar .navbar-item a {
  line-height: 57px;
  margin-left: 27px;
  text-decoration: none;
  color: #fff;
  font-size: 1.125rem;
  font-family: "OpenSansRegular";
}

.navbar .navbar-item a:hover {
  color: #565a69;
}

home {
  display: block;
  min-height: 100%;
  background-color: #f9f9f9;
}

.home {
  display: flex;
  justify-content: space-between;
  padding: 33px 31px;
}

.items-wrapper {
  flex-basis: 55%;
  margin-right: 18px;
  box-shadow: 0 0 3px 1px #c8c8c8;
  background-color: #fff;
  align-self: flex-start;
}

.items {
  box-shadow: 0 0 2px 0px #adadad inset;
  min-height: 400px;
}

.items h1 {
  font-size: 2.25rem;
  color: #565a69;
  margin: 0;
  padding: 21px 0 26px 28px;
}

.items .items-list {
  margin: .8rem 0 0rem 2.5px;
  padding-bottom: 10px;
}

.item-form {
  display: flex;
  justify-content: space-between;
  margin: 0 15px 0 31px;
}

 .item-form .item-input {
  font-size: 1rem;
  border: 1px solid #ccc;
  flex: 1 auto;
  margin-right: .5rem;
  height: 37px;
  border-radius: 3px;
  padding-left: 9px;
  outline: none;
  font-family: "OpenSansRegular";
}
.item-form .item-input:focus {
  border-color:#27ccc0;
}

.item-form .item-submit {
  font-size: 1rem;
  padding: 0.37rem 1.4rem;
  width: 132px;
  background-color: #27ccc0;
  color: white;
  border: 1px solid #27ccc0;
  border-radius: 3px;
  outline: none;
  font-family: "OpenSansSemibold";
}
.item-form .item-submit:hover {
  background-color: #1fc0b4;
}
.item-form .item-submit:active {
  position:relative;
  top:1px;
}

.item-wrapper {
  padding: 0 19px 0 30px;
}

.item-wrapper.active {
  box-shadow: -5px 0px 0px 0px #ff2f5a;
}

.item-wrapper:hover {
  box-shadow: -5px 0px 0px 0px #ff2f5a;
}


.item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid #f2f2f2;
  height: 54px;
  position: relative;
}

.item-wrapper .item div {
  cursor: pointer;
}

.item .item-name {
  font-family: "OpenSansSemibold";
  color: #2B2F3E;
  margin-right: 5px;
}

.item .num-of-comments {
  display: inline-block;
  height: 20.5px;
  line-height: 20.5px;
  font-size: 0.8125rem;  
  padding: 0 9px;
  border-radius: 10.25px;
  background-color: #27ccc0;
  color: white;
  text-align: center;
  font-family: "OpenSansBold";
}
.item button {
  font-size: 1rem;
  padding: 0.3rem 1rem;
  background-color: #fff;
  color: #ff3159;
  border: 1px solid #ff3159;
  border-radius: 3px;
  outline: none;
  width: 97px;
  height: 34px;
}
.item button:hover {
  background-color: #fdf2f4;
}
.item button:active {
  position:relative;
  top:1px;
}

.comments-wrapper {
  flex-basis: 45%;
  box-shadow: 0 0 3px 1px #c8c8c8;
  background-color: #fff;
  align-self: flex-start;
}

.comments {
  box-shadow: 0 0 2px 0px #adadad inset;
  min-height: 400px;
  font-size: .9rem;
}

.comments h1 {
  font-size: 2.25rem;
  color: #565a69;
  margin: 0;
  padding: 21px 0 26px 28px;
  align-self: flex-start;
}

.comments {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.comments .comments-list {
  flex: 1 auto;
  margin: 0 19px 19px 19px;
}

.comments .comments-list:first-child {
  border: none;
}

.comment-input {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin: 0 24px 14px 19px;
}

.comment-input .user-img {
  width: 52px;
  height: 52px;
  background-color: #e6e6e6;
  margin-right: 15px;
}

.comment-input form {
  flex: 1 auto;
  height: 70px;
}

.comment-input form textarea {
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  resize: none;
  outline: none;
  border: 1px solid #ccc;
  font-family: "OpenSansRegular";
  font-size: .75rem;
  color: #666666;
}
.comment-input form textarea:focus {
   border-color:#27ccc0;
}

.comment {
  display: flex;
  padding: 17px 0 22px;
  border-top: 2px solid #f2f2f2;
}

.first.comment {
  border: none;
}

.comment .user-img {
  background-color: #ff8a00;
}

.purple.comment .user-img {
  background-color: #47568c;
}

.comment .user-img {
  width: 52px;
  height: 52px;
  margin-right: 15px;
  flex: 0 0 auto;
}

.comment .comment-text {
  margin: 0;
  white-space: pre-wrap;
  font-family: "OpenSansRegular";
  font-size: .75rem;
  color: #666666;
}