<div class="portlet light profile-sidebar-portlet bordered">
    <div class="row">
        <div class="col-md-12">
            <uib-tabset active="activeTabIndex">
                <uib-tab index="0" ng-if="vm.account.is_admin||vm.account.is_zixi_admin">
                    <uib-tab-heading>
                        <i class='fa fa-lock pr-10'></i>
                        <span class="hidden-xs">SSH {{'KEYS'|translate}}</span>
                        <span class="visible-xs-inline">SSH</span>
                    </uib-tab-heading>
                    <div class="row">
                        <div class="main col-md-12">
                            <div class="tableheader"><span class="title">SSH {{'KEYS'|translate}}</span>
                                <div class="pull-right">
                                    <button class="btn btn-primary"
                                            ng-click="vm.openAddSourceModal()">
                                        <i class="fa fa-plus"></i> {{'ADD'|translate}} {{'KEY'|translate}}
                                    </button>
                                    <button class="btn" style="margin-left: 8px"
                                            ng-click="vm.refreshSAccessKeys()">
                                        <i class="fa fa-refresh"></i>
                                    </button>
                                </div>
                                <div class="search-query">
                                    <div class="input-group">
                                        <input type="text" class="form-control"
                                               ng-model="vm.searchText"
                                               placeholder="{{'SEARCH'|translate}}"/>
                                        <span class="input-group-btn">
                                            <button class="btn btn-primary" type="button">
                                                <span class=" glyphicon glyphicon-search"></span>
                                            </button>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="table-scrollable clearfix">
                                <table class="table table-hover selectable" id="usertable">
                                    <thead>
                                    <tr>
                                        <th> #</th>
                                        <th translate> NAME</th>
                                        <th></th>
                                        <th></th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr ng-repeat="key in vm.accessKeys | multifilter:vm.searchText:['name'] as filteredKey">
                                        <td>{{$index + 1}}</td>
                                        <td> {{key.name}}</td>
                                        <td>
                                            <a href="data:text/plain,{{key.rsa_private | encodeURIComponent}}" 
                                               download="{{key.name}}-{{vm.customer_dns_prefix}}.key">
                                                <i class="fa fa-download" aria-hidden="true"></i> {{'DOWNLOAD'|translate}}</a>
                                            </a>
                                        </td>
                                        <td><a ng-click="vm.deleteAccessKey(key.name)">
                                            <i class="fa fa-trash"
                                               aria-hidden="true"></i>
                                            {{'BTN_DELETE'|translate}}
                                            </a>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </uib-tab>
                <uib-tab index="1">
                    <uib-tab-heading>
                        <i class='fa fa-lock pr-10'></i>
                        {{'MY'|translate}} {{'ACCOUNT'| translate}}
                    </uib-tab-heading>
                    <form class="form-horizontal form-condensed" name="editAccount"
                          ng-submit="editAccount.$valid && vm.updateAccount(vm.account.id)" novalidate>
                        <div class="tableheader">
                            <span class="title" translate>DETAILS</span>
                            <div class="pull-right">
                                <button class="btn btn-primary edit-alt"
                                        type="button"
                                        ng-show="!vm.isEditModeEnabled"
                                        translate
                                        ng-click="vm.enableEditMode()">
                                    BTN_EDIT
                                </button>
                                <button class="btn btn-primary edit"
                                        type="submit"
                                        translate
                                        ng-show="vm.isEditModeEnabled">
                                    BTN_SAVE
                                </button>
                                <button class="btn edit"
                                        type="button"
                                        translate
                                        ng-click="vm.disableEditMode()"
                                        ng-show="vm.isEditModeEnabled">
                                    BTN_CANCEL
                                </button>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6 col-xs-12">
                                <div class="form-group" ng-class="{'has-error': vm.isEditModeEnabled && editAccount.$submitted && editAccount.name.$error.required}">
                                    <label class="col-xs-4 control-label" translate>NAME</label>
                                    <div class="col-xs-8">
                                        <p class="form-control-static edit-alt" ng-show="!vm.isEditModeEnabled">
                                            {{vm.account.name}}</p>
                                        <input type="text"
                                               class="form-control input-inline input-medium edit"
                                               name="name"
                                               ng-show="vm.isEditModeEnabled" ng-model="vm.editingAccount.name"
                                               required>
                                        <div class="help-block" ng-show="editAccount.$submitted">
                                            <span ng-show="vm.isEditModeEnabled && editAccount.name.$error.required">
                                               {{'NAME'|translate}} {{'CANNOT_BE_EMPTY'| translate}}
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-xs-4 control-label" translate>EMAIL</label>
                                    <div class="col-xs-8">
                                        <p class="form-control-static">{{vm.account.email}}</p>
                                    </div>
                                </div>

                                <div class="form-group edit" ng-show="vm.isEditModeEnabled">
                                    <label class="col-xs-4 control-label" translate>PASSWORD</label>
                                    <div class="col-xs-8">
                                        <input type="password"
                                               class="form-control input-inline input-medium edit"
                                               name="password"
                                               placeholder="{{'USE_CURRENT'| translate}}"
                                               ng-model="vm.editingAccount.password">
                                    </div>
                                </div>
                                <div class="form-group edit" ng-show="vm.isEditModeEnabled" ng-class="{'has-error': vm.isEditModeEnabled && editAccount.$submitted && editAccount.confirmPassword.$error.zxVerifPassword}">
                                    <label class="hidden-xs col-xs-4 control-label">{{'CONFIRM'|translate}} {{'PASSWORD'| translate}}</label>
                                    <label class="visible-xs-inline col-xs-4 control-label">{{'CONFIRM'|translate}} {{'PASSWORD_ABR'| translate}}</label>
                                    <div class="col-xs-8">
                                        <input type="password" name="confirmPassword"
                                               class="form-control input-inline input-medium edit"
                                               placeholder="{{'USE_CURRENT'| translate}}"
                                               zx-verif-password="vm.editingAccount.password"
                                               ng-model="vm.editingAccount.confirmedPassword">
                                        <div class="help-block" ng-show="editAccount.$submitted">
                                            <span ng-show="vm.isEditModeEnabled && editAccount.confirmPassword.$error.zxVerifPassword" translate>
                                                PH_PASSWORD
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </uib-tab>
                <uib-tab index="2" ng-if="vm.account.is_admin||vm.account.is_zixi_admin">
                    <uib-tab-heading>
                        <i class='fa fa-lock pr-10'></i>
                        <span class="hidden-xs">{{'AMAZON'|translate}} AWS</span>
                        <span class="visible-xs-inline">AWS</span>
                    </uib-tab-heading>
                    <form class="form-horizontal form-condensed" name="editAWS"
                          ng-submit="editAWS.$valid && vm.updateAccountAws()" novalidate>
                        <div class="tab-content">
                            <div class="tab-pane fade in active" id="account-details">
                                <div class="tableheader">
                                    <span class="hidden-xs title">AWS {{'ACCOUNT'|translate}} {{'CREDENTIALS'|translate}}</span>
                                    <span class="visible-xs-inline title">{{'CREDENTIALS'|translate}}</span>
                                    <div class="pull-right">
                                        <button class="btn btn-primary edit-alt"
                                                type="button"
                                                ng-show="!vm.isEditModeAwsEnabled"
                                                translate
                                                ng-click="vm.enableEditModeAws()">
                                            BTN_EDIT
                                        </button>
                                        <button class="btn btn-primary edit"
                                                type="submit"
                                                translate
                                                ng-show="vm.isEditModeAwsEnabled">
                                            BTN_SAVE
                                        </button>
                                        <button class="btn edit"
                                                type="button"
                                                translate
                                                ng-click="vm.disableEditModeAws()"
                                                ng-show="vm.isEditModeAwsEnabled">
                                            BTN_CANCEL
                                        </button>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-6 col-xs-12">
                                        <div class="form-horizontal form-condensed">
                                            <div class="form-group" ng-class="{'has-error': vm.isEditModeAwsEnabled && editAWS.$submitted && editAWS.accessKey.$error.required}">
                                                <label class="col-sm-4 col-xs-12 control-label">{{'ACCESS_KEY'|translate}} ID</label>
                                                <div class="col-sm-8 col-xs-12">
                                                    <p class="form-control-static edit-alt" ng-show="!vm.isEditModeAwsEnabled">
                                                        {{vm.awsAccount.aws_access_key_id}}</p>
                                                    <input type="text" class="form-control input-inline input-medium edit"
                                                           name="accessKey"
                                                           placeholder="{{'ACCESS_KEY'|translate}} ID"
                                                           ng-show="vm.isEditModeAwsEnabled" ng-model="vm.editingAccountAws.aws_access_key_id"
                                                           required>
                                                    <div class="help-block" ng-show="editAWS.$submitted">
                                                        <span ng-show="vm.isEditModeAwsEnabled && editAWS.accessKey.$error.required">
                                                            {{'ACCESS_KEY'|translate}} {{'CANNOT_BE_EMPTY'| translate}}
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-sm-4 col-xs-12 control-label">{{'SECRET'|translate}} {{'ACCESS_KEY'|translate}}</label>
                                                <div class="col-sm-8 col-xs-12">
                                                    <p class="form-control-static edit-alt" ng-show="!vm.isEditModeAwsEnabled">
                                                        {{(vm.awsAccount.aws_secret_key.length>0)?"&#8226&#8226&#8226&#8226":""}}</p>
                                                    <input type="text" class="form-control input-inline input-medium edit"
                                                           name="secretKey"
                                                           ng-show="vm.isEditModeAwsEnabled"
                                                           ng-model="vm.editingAccountAws.aws_secret_key"
                                                           placeholder="{{'USE_CURRENT'| translate}}">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </uib-tab>
            </uib-tabset>
        </div>
    </div>
</div>
