items {
  flex-basis: 55%;
  margin-right: 18px;
  box-shadow: 0 0 3px 1px #c8c8c8;
  background-color: #fff;
  align-self: flex-start;
}

.items {
  box-shadow: 0 0 2px 0px #adadad inset;
  min-height: 400px;
}

.items h1 {
  font-size: 2.25rem;
  color: #565a69;
  margin: 0;
  padding: 21px 0 26px 28px;
}

.items .items-list {
  margin: .8rem 0 0rem 2.5px;
  padding-bottom: 10px;
}