items {
  flex-basis: 54%;
  box-shadow: 0 0 3px 1px #c8c8c8;
  background-color: #fff;
  align-self: flex-start;
}

.items {
  box-shadow: 0 0 2px 0px #adadad inset;
  min-height: 400px;
}

.items h1 {
  font-size: 2rem;
  color: #565a69;
  font-family: "OpenSansLight", sans-serif;
  margin: 0;
  padding: 0.5rem 0 .8rem 1.2rem;
}

.items .items-form {
  font-size: 0.9rem;
  display: flex;
  justify-content: space-between;
  margin: 0 .8rem 0 1.6rem;
}

.items .items-form .items-input {
  border: 1px solid #ccc;
  flex: 1 auto;
  margin-right: .5rem;
  height: 1.6rem;
  border-radius: 3px;
  padding-left: 0.5rem;
  outline:none;
}
.items .items-form .items-input:focus {
  border-color:#27ccc0;
}

.items .items-form .items-submit {
  padding: 0.37rem 1.4rem;
  background-color: #27ccc0;
  color: white;
  border: 1px solid #27ccc0;
  border-radius: 3px;
  outline: none;
}
.items .items-form .items-submit:hover {
  background-color: #1fc0b4;
}
.items .items-form .items-submit:active {
  position:relative;
  top:1px;
}

.items .items-list {
  margin: .8rem 0 0rem 2.5px;
  padding-bottom: 10px;
}