items {
  flex-basis: 54%;
  box-shadow: 0 0 3px 1px #c8c8c8;
  background-color: #fff;
  align-self: flex-start;
}

.items {
  box-shadow: 0 0 2px 0px #adadad inset;
  min-height: 400px;
}

.items h1 {
  font-size: 2rem;
  color: #565a69;
  font-family: "OpenSansLight", sans-serif;
  margin: 0;
  padding: 0.5rem 0 .8rem 1.2rem;
}

.items .items-list {
  margin: .8rem 0 0rem 2.5px;
  padding-bottom: 10px;
}