<form name="addDomain" novalidate  ng-submit="addDomain.$valid && addDomainVm.saveDomain()">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"
                ng-click="addDomainVm.cancel()"><span
            aria-hidden="true">×</span></button>
        <h4 class="modal-title">{{'ADD'|translate}} {{'DOMAIN'|translate}}</h4>
    </div>
    <div class="modal-body">
        <div class="form-group" ng-class="{'has-error': addDomain.$submitted && addDomain.name.$error.required}">
            <label class="control-label" translate>NAME</label>
            <input type="text" class="form-control" name="name" ng-model="addDomainVm.name" required placeholder="{{'NAME'|translate}}"/>
            <div class="help-block" ng-show="addDomain.$submitted">
                <span ng-show="addDomain.name.$error.required">{{'NAME'| translate}} {{'CANNOT_BE_EMPTY'| translate}}</span>
            </div>
        </div>
        <div class="form-group" ng-class="{'has-error': addDomain.$submitted && (addDomain.dns_prefix.$error.required || addDomain.dns_prefix.$error.pattern || addDomain.dns_prefix.$error.blacklist)}">
            <label class="control-label" translate>DNS_PREFIX</label>
            <input type="text"
                   placeholder="{{'DNS_PREFIX'|translate}}"
                   name="dns_prefix"
                   class="form-control"
                   ng-model="addDomainVm.dns_prefix"
                   ng-pattern="/^[a-z0-9]+$/"
                   ui-validate="{blacklist : '$value != \'zixi\' '}"
                   required/>
            <div class="help-block" ng-show="addDomain.$submitted">
                <span ng-show="addDomain.dns_prefix.$error.required">{{'NAME'|translate}} {{'CANNOT_BE_EMPTY'| translate}}</span>
                <span ng-show="addDomain.dns_prefix.$error.pattern" translate>PH_DOMAINS</span>
                <span ng-show="addDomain.dns_prefix.$error.blacklist">{{'NAME'|translate}} {{'PH_EQUAL_ZIXI'|translate}}</span>
            </div>
        </div>

        <div class="form-group" ng-class="{'has-error': addDomain.$submitted && addDomain.admin_name.$error.required}">
            <label class="control-label">{{'ADMIN'|translate}} {{'NAME'|translate}}</label>
            <input type="text"
                   name="admin_name"
                   class="form-control"
                   ng-model="addDomainVm.admin_name"
                   required
                   placeholder="{{'ADMIN'|translate}} {{'NAME'|translate}}"/>
            <div class="help-block" ng-show="addDomain.$submitted">
                <span ng-show="addDomain.admin_name.$error.required">
                    {{'NAME'|translate|lowercase}} {{'CANNOT_BE_EMPTY'| translate}}
                </span>
            </div>
        </div>
        <div class="form-group" ng-class="{'has-error': addDomain.$submitted && (addDomain.admin_email.$error.required || addDomain.admin_email.$error.pattern)}">
            <label class="control-label">{{'ADMIN'|translate}} {{'EMAIL'|translate}}</label>
            <input type="email"
                   name="admin_email"
                   class="form-control"
                   ng-model="addDomainVm.admin_email"
                   ng-pattern="/^([A-Za-z0-9_\.]+@[A-Za-z0-9_\.]+)$/"
                   placeholder="{{'ADMIN'|translate}} {{'EMAIL'|translate}}"
                   required/>
            <div class="help-block" ng-show="addDomain.$submitted">
                <span ng-show="addDomain.admin_email.$error.required">{{'ADMIN'|translate}} {{'EMAIL'|translate|lowercase}} {{'CANNOT_BE_EMPTY'| translate}}</span>
                <span ng-show="addDomain.admin_email.$error.pattern">{{'INVALID'|translate}} {{'EMAIL'|translate|lowercase}} {{'ADDRESS'|translate|lowercase}}</span>
            </div>
        </div>
        <div class="form-group" ng-class="{'has-error': addDomain.$submitted && addDomain.admin_password.$error.required}">
            <label class="control-label">{{'ADMIN'|translate}} {{'PASSWORD'|translate}}</label>
            <input type="password"
                   name="admin_password"
                   class="form-control"
                   ng-model="addDomainVm.admin_password"
                   required
                   placeholder="{{'ADMIN'|translate}} {{'PASSWORD'|translate}}"/>
            <div class="help-block" ng-show="addDomain.$submitted">
                <span ng-show="addDomain.admin_password.$error.required">
                    {{'ADMIN'|translate}} {{'PASSWORD'|translate|lowercase}} {{'CANNOT_BE_EMPTY'| translate}}
                </span>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-default"
                type="button"
                translate
                data-dismiss="modal"
                ng-click="addDomainVm.cancel()">
            BTN_CLOSE
        </button>
        <button class="btn btn-primary"
                translate
                type="submit">
            BTN_SAVE
        </button>
    </div>
</form>
