<div class="modal-header">
    <button type="button"
            class="close"
            ng-click="addVm.closeModal();"
            aria-label="Close">
        <span aria-hidden="true">×</span></button>
    <h4 class="modal-title" translate>ZIXI_PULL</h4>
</div>
<form name="zixiPullForm"
      ng-submit="zixiPullForm.$valid && addVm.saveZixi();"
      novalidate>
<div class="modal-body">
    <div class="row">
        <div class="col-md-12">
            <div class="form-group" ng-class="{'has-error' : zixiPullForm.$submitted && zixiPullForm.name.$error.required}">
                <label class="control-label" translate>NAME</label>
                <input type="text"
                       name="name"
                       placeholder="{{'ZIXI_PULL' | translate}} {{'NAME' | translate}}"
                       class="form-control"
                       ng-model="addVm.name"
                       required/>
                <div class="help-block" ng-show="zixiPullForm.$submitted">
                    <span ng-show="zixiPullForm.name.$error.required">
                        {{'NAME'|translate}} {{'CANNOT_BE_EMPTY'| translate}}
                    </span>
                </div>
            </div>
            <div class="form-group" ng-class="{'has-error' : zixiPullForm.$submitted && zixiPullForm.receiver.$error.required}">
                <label class="control-label">{{'RECEIVER' | translate}} ID</label>
                <input type="text"
                       name="receiver"
                       placeholder="{{'RECEIVER' | translate}} ID"
                       class="form-control"
                       ng-model="addVm.reciever"
                       required/>
                <div class="help-block" ng-show="zixiPullForm.$submitted">
                    <span ng-show="zixiPullForm.receiver.$error.required">
                        {{'RECEIVER' | translate}} ID {{'CANNOT_BE_EMPTY'| translate}}
                    </span>
                </div>
            </div>
            <div class="form-group" ng-class="{'has-error' : zixiPullForm.$submitted && zixiPullForm.streaming_id.$error.required}">
                <label class="control-label">{{'RECEIVER' | translate}} {{'STREAM' | translate}} ID</label>
                <input type="text"
                       name="streaming_id"
                       placeholder="{{'RECEIVER' | translate}} {{'STREAM' | translate}} ID"
                       class="form-control"
                       ng-model="addVm.reciever_stream"
                       required/>
                <div class="help-block" ng-show="zixiPullForm.$submitted">
                    <span ng-show="zixiPullForm.streaming_id.$error.required">
                        {{'RECEIVER' | translate}} {{'STREAM' | translate}} ID {{'CANNOT_BE_EMPTY'| translate}}
                    </span>
                </div>
            </div>
            <div class="form-group" ng-class="{'has-error' : zixiPullForm.$submitted && zixiPullForm.password.$error.required}">
                <label class="control-label" translate>PASSWORD</label>
                <input type="password"
                       name="password"
                       placeholder="{{'PASSWORD'|translate}}"
                       class="form-control"
                       ng-model="addVm.password"
                       required />
                <div class="help-block" ng-show="zixiPullForm.$submitted">
                    <span ng-show="zixiPullForm.password.$error.required">
                        {{'PASSWORD'|translate}} {{'CANNOT_BE_EMPTY'| translate}}
                    </span>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label" translate>LATENCY</label>
                <input type="text"
                       name="latecny"
                       placeholder="{{'REMOTE_CONFIGURATION'|translate}}"
                       class="form-control"
                       dc-latency
                       ng-model="addVm.latecny"
                       ui-validate="{}"/>
            </div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-default"
            type="button"
            ng-click="addVm.closeModal();"
            translate>
        BTN_CANCEL
    </button>
    <button type="submit"
            class="btn btn-primary"
            translate>
        BTN_SAVE
    </button>
</div>
</form>
