comments {
  flex-basis: 44%;
  box-shadow: 0 0 3px 1px #c8c8c8;
  background-color: #fff;
  align-self: flex-start;
}

.comments {
  box-shadow: 0 0 2px 0px #adadad inset;
  min-height: 400px;
  font-size: .9rem;
}

.comments h1 {
  font-size: 2rem;
  color: #565a69;
  font-family: "OpenSansLight", sans-serif;
  margin: 0;
  padding: 0.5rem 0 .8rem 1.2rem;
  align-self: flex-start;
}

.comments {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.comments .comments-list {
  flex: 1 auto;
  margin: 0 1rem .5rem .7rem;
}

.comments .comments-input {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin: .5rem 1rem .5rem .7rem
}

.comments .comments-input .user-img {
  width: 2.7rem;
  height: 2.7rem;
  background-color: #e6e6e6;
}

.comments .comments-input form {
  flex: 1 auto;
  height: 4rem;
  margin-left: .5rem;
}

.comments .comments-input form textarea {
  height: 85%;
  width: 97%;
  resize: none;
  outline:none;
  border: 1px solid #ccc;
}
.comments .comments-input form textarea:focus {
   border-color:#27ccc0;
}