{
    "extends": "eslint:recommended",
    "plugins": [
        "angular"
    ],
    "env": {
        "browser": true,
        "jasmine": true,
        "node": true
    },
    "globals": {
        "angular": true,
        "_": true,
        "CryptoJS": true,
        "toastr": true,
        "moment": true,
        "module": true,
        "inject": true
    }
}
