<div class="portlet light profile-sidebar-portlet bordered">
    <div class="row" ng-style="style">
        <div class="col-md-12">
            <div class="tableheader">
                <span class="title hidden-xs" translate>ADAPTIVE_CHANNELS</span>
                <span class="title visible-xs-inline" translate>ADAPTIVES</span>
                <div class="pull-right">
                    <span style="margin-right: 8px;">
                        <div class="btn-group" role="group" aria-label="...">
                            <button type="button" class="btn btn-default"
                                    ng-click="vm.showActiveView('thumbs')"
                                    ng-class="{'btn-default': vm.activeView === 'table'}">
                                <i class="fa fa-th-large"></i></button>
                            <button type="button" class="btn"
                                    ng-click="vm.showActiveView('table')"
                                    ng-class="{'btn-default': vm.activeView === 'thumbs'}">
                                <i class="fa fa-table"></i></button>
                        </div>
                    </span>
                    <button class="btn btn-primary"
                            ng-click="vm.openModalAdd();">
                        <i class="fa fa-plus"></i> <span class='hidden-xs'>{{'BTN_ADD'|translate}} {{'ADAPTIVE_CHANNEL'|translate}}</span>
                    </button>
                    <button class="btn" style="margin-left: 8px"
                            ng-click="vm.updateRecords()">
                        <i class="fa fa-refresh"></i>
                    </button>
                </div>
                <div class="search-query">
                    <div class="input-group">
                        <input type="text" 
                               class="form-control"
                               translate
                               translate-attr-placeholder="SEARCH"
                               ng-model="vm.searchText"/>
                        <span class="input-group-btn">
                            <button class="btn btn-primary" type="button">
                                <span class=" glyphicon glyphicon-search"></span>
                            </button>
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <div ng-init="vm.showActiveView('table')">
            <div class="col-md-12" ng-show="vm.activeView==='table'">
                <!--<div class="col-md-12">-->
                <div class="table-scrollable clearfix" id="channeltable">
                    <table class="table table-hover">
                        <thead>
                        <tr>
                            <th> #</th>
                            <th translate> STATUS</th>
                            <th translate> NAME</th>
                            <th translate> TRANSCODING</th>
                            <th translate> PROC_CLUSTER</th>
                            <th translate> VIEWERS</th>
                            <th translate> OUTPUTS</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr class="trans_details"
                            ng-repeat="item in vm.channelsTableItems | multifilter:vm.searchText:['name', 'processing_cluster_name'] as filteredItems track by item.id"
                            ng-click="vm.setSelectedChannel(item);"
                            ng-class="{'select-row': item.name === vm.selectedChannel.name}">
                            <td>{{$index+1}}</td>
                            <td><i class="fa fa-circle"
                                   zx-icon-status-class="item.generalStatus"
                                   is-enabled="item.is_enabled">
                            </i>
                                {{((item.is_enabled)?vm.statuses[item.generalStatus]:"DISABLED")|translate}}
                            </td>
                            <td>{{item.name}}</td>
                            <td>{{((item.is_transcoding)? 'YES': 'NO')|translate}}</td>
                            <td>{{item.processing_cluster_name}}</td>
                            <td>{{item.viewers?(item.viewers|number:0):"-"}}</td>
                            <td ng-if="item.good_outputs||item.bad_outputs||item.disabled_outputs">
                                <i class="fa fa-circle"
                                   zx-icon-status-class="'good'"
                                   ng-if="item.good_outputs">
                                </i>
                                <span ng-if="item.good_outputs">{{item.good_outputs}}</span>
                                <i class="fa fa-circle"
                                   zx-icon-status-class="'bad'"
                                   ng-if="item.bad_outputs">
                                </i>
                                <span ng-if="item.bad_outputs">{{item.bad_outputs}}</span>
                                <i class="fa fa-circle"
                                   zx-icon-status-class="'disabled'"
                                   ng-if="item.disabled_outputs">
                                </i>
                                <span ng-if="item.disabled_outputs">{{item.disabled_outputs}}</span>
                            </td>
                            <td ng-if="!item.good_outputs&&!item.bad_outputs&&!item.disabled_outputs">-</td>
                        </tr>
                        <tr ng-if="filteredItems.length===0">
                            <td colspan="7" class="text-center" translate>NO_RESULTS</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        <!--    <div ng-show="vm.activeView==='thumbs'">
                <div class="col-md-12">
                    <div class="streamarea">
                        <div class="streambox trans_details"
                             ng-repeat="item in vm.channelsTableItems | multifilter: vm.searchText:['name', 'processing_cluster_name'] as filteredItems track by item.id"
                             ng-click="vm.setSelectedChannel(item);"
                             ng-class="{'select-row': item.name === vm.selectedChannel.name,'streamerror':item.status==='bad'}">
                            <div class='imgbox'
                                 ng-class="{'error': item.generalStatus == 'bad'}">
                                <zx-stream-preview ng-if="vm.activeView==='thumbs'" source="{{item.preview_url}}">
                            </div>
                            <div class="infobar">
                                    <span class="stream-name pull-left">
                                    <i class="fa fa-circle"
                                       zx-icon-status-class="item.generalStatus"
                                       is-enabled="item.is_enabled">
                                    </i>
                                    {{vm.statuses[item.generalStatus]}}
                                    </span>
                                <span class="uptime"><b>{{item.name}}</b></span>
                                <span class="pull-right"
                                          ng-if="item.good_outputs">
                                    <i class="fa fa-circle"
                                       zx-icon-status-class="'good'"
                                       ng-if="item.good_outputs">
                                    </i>
                                    {{item.good_outputs}}
                                </span>
                                <span class="pull-right"
                                      ng-if="item.bad_outputs">
                                    <i class="fa fa-circle"
                                       zx-icon-status-class="'bad'"
                                       ng-if="item.bad_outputs">
                                    </i>
                                    {{item.bad_outputs}}
                                </span>
                                <span class="pull-right"
                                      ng-if="item.disabled_outputs">
                                    <i class="fa fa-circle"
                                       zx-icon-status-class="'disabled'"
                                       ng-if="item.disabled_outputs">
                                    </i>
                                        {{item.disabled_outputs}}
                                </span>
                                <span class="pull-right"
                                      ng-if="!item.good_outputs&&!item.bad_outputs&&!item.disabled_outputs">-</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div> -->
        </div>
    </div>

    <hr class="info-msg" ng-if="!vm.selectedChannel">
    <h4 class="info-msg" ng-if="!vm.selectedChannel">
        {{'SELECT' | translate }} {{'ADAPTIVE_CHANNEL' | translate }} {{'ABOVE' | translate }}
    </h4>
    <div class="row info-msg" style="min-height: 250px;" ng-if="!vm.selectedChannel"></div>

    <hr ng-if="vm.selectedChannel">

    <h4 ng-if="vm.selectedChannel">{{'ADAPTIVE_CHANNEL' | translate }}: {{vm.selectedChannel.name}}</h4>
    <uib-tabset active="active" ng-if="vm.selectedChannel">
        <uib-tab index="0">
            <uib-tab-heading>
                <i class="fa fa-list-ul pr-10"></i>
                {{'DETAILS' | translate }}
            </uib-tab-heading>
            <form name="Form_Edit" novalidate>
                <div class="tableheader">
                    <span class="title">&nbsp;</span>
                    <div class="pull-right">
                        <button type="button"
                                class="btn btn-primary edit-alt"
                                ng-click="vm.editChannel()"
                                ng-hide="vm.showEditChannel"
                                translate>
                            BTN_EDIT
                        </button>
                        <button type="button"
                                class="btn btn-warning edit-alt"
                                ng-click="vm.setStatusChannels();"
                                ng-hide="vm.showEditChannel||!vm.selectedChannel.is_enabled"
                                translate>
                            BTN_DISABLE
                        </button>
                        <button type="button"
                                class="btn btn-success edit-alt"
                                ng-click="vm.setStatusChannels();"
                                ng-hide="vm.showEditChannel||vm.selectedChannel.is_enabled"
                                translate>
                            BTN_ENABLE
                        </button>
                        <button type="button"
                                class="btn btn-danger edit-alt"
                                ng-click="vm.deleteSelectChannel();"
                                ng-hide="vm.showEditChannel"
                                translate>
                            BTN_DELETE
                        </button>
                    </div>
                </div>
                <div class="row" id="trans_details">
                    <div class="col-sm-6 col-xs-12">
                        <div class="form-horizontal form-condensed">
                            <div class="form-group">
                                <label class="col-xs-4 control-label">{{'CHANNEL' | translate }} {{'NAME' | translate }}
                                </label>
                                <div class="col-xs-8">
                                    <p class="form-control-static ">
                                        {{vm.selectedChannel.name}}</p>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-xs-4 control-label" translate>ACCESS_TAG</label>
                                <div class="col-xs-8">
                                    <p class="form-control-static ">
                                        {{vm.selectedChannel.resource_tag_name}}</p>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-xs-4 control-label">
                                    {{'PROCESSING' | translate }} {{'CLUSTER' | translate }}
                                </label>
                                <div class="col-xs-8">
                                    <p class="form-control-static">
                                        {{vm.selectedChannel.processing_cluster_name}}</p>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-xs-4 control-label">
                                    {{'VIEW' | translate }} {{'CHANNEL' | translate }}
                                </label>
                                <!--<div class="col-xs-7">
                                    <span class="form-control-static hiddenmidden">
                                        {{(vm.selectedChannel.public_output_url)?vm.selectedChannel.public_output_url:"NONE";}}
                                    </span>
                                </div>-->
                                <div class="col-xs-1">
                                    <a href="javascript:" ng-click="vm.openModalPreview(true);"
                                       class='btn btn-xs' style="padding: 7px 8px;">
                                        <i class="fa fa-play"></i>
                                    </a>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-xs-4 control-label" translate>MODE</label>
                                <div class="col-xs-8">
                                    <p class="form-control-static" ng-if="!vm.selectedChannel.is_transcoding" translate>
                                        MULTI_SOURCE
                                    </p>
                                    <p class="form-control-static" ng-if="vm.selectedChannel.is_transcoding" translate>
                                        TRANSCODING
                                    </p>
                                </div>
                            </div>
                            <div class="form-group" ng-hide="vm.selectedChannel.is_source_included === 0">
                                <label class="col-xs-4 control-label" translate>SOURCE</label>
                                <div class="col-xs-8">
                                    <i class="fa fa-circle"
                                       zx-icon-status-class="vm.selectedChannel.generalStatus"
                                       is-enabled="vm.selectedChannel.is_enabled"></i>
                                    <p class="form-control-static">
                                        {{vm.selectedChannel.bitrates[0].source.name}}
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-xs-12">
                        <label class="control-label" translate>BITRATES</label>
                        <table class="table table-compact" ng-if="vm.selectedChannel.is_transcoding">
                            <thead>
                            <tr>
                                <th translate> STATUS</th>
                                <th translate> NAME</th>
                                <th translate> BITRATE</th>
                                <th translate> RESOLUTION</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="item in vm.selectedChannel.bitrates | filter: { profile_id : '!!' } track by item.id">
                                <td><i class="fa fa-circle"
                                       zx-icon-status-class="item.generalStatus"
                                       is-enabled="item.is_enabled">
                                </i> {{((item.is_enabled)?vm.statuses[item.generalStatus]:"DISABLED")|translate}}
                                </td>
                                <td> {{item.name}}</td>
                                <td> {{item.kbps}}</td>
                                <td> {{item.profile.profile}}</td>
                            </tr>
                            </tbody>
                        </table>
                        <table class="table table-compact" ng-if="!vm.selectedChannel.is_transcoding">
                            <thead>
                            <tr>
                                <th translate> STATUS</th>
                                <th translate> SOURCE</th>
                                <th translate> NAME</th>
                                <th translate> BITRATE</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="item in vm.selectedChannel.bitrates track by item.id">
                                <td><i class="fa fa-circle"
                                       zx-icon-status-class="item.generalStatus"
                                       is-enabled="item.is_enabled">
                                </i>
                                    {{((item.is_enabled)?vm.statuses[item.generalStatus]:"DISABLED")|translate}}
                                </td>
                                <td> {{item.source.name}}</td>
                                <td> {{item.name}}</td>
                                <td> {{item.kbps}}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </form>
        </uib-tab>
        <uib-tab index="1">
            <uib-tab-heading>
                <i class="fa fa-share-square pr-10"></i> {{'PUBLISHING_TARGETS' | translate}}
                <span class="badge badge-danger"
                      ng-if="vm.targetsError!==0">
                    {{vm.targetsError!==0?vm.targetsError:""}}
                </span>
            </uib-tab-heading>
            <div class="row">
                <div class="main col-md-12">
                    <div class="tableheader">
                        <span class="title">&nbsp;</span>
                        <button class="btn pull-right" style="margin-left:10px"
                                ng-click="vm.updateRecordsTarget()">
                            <i class="fa fa-refresh"></i>
                        </button>
                        <button class="btn btn-primary pull-right"
                                ng-click="vm.openModalAssign();">
                            <i class="fa fa-plus"></i> {{'BTN_ASSIGN' | translate}} {{'PUBLISHING_TARGET' | translate}}
                        </button>
                    </div>
                    <div class="table-scrollable clearfix">
                        <table class="table table-hover">
                            <thead>
                            <tr>
                                <th> #</th>
                                <th translate> STATUS</th>
                                <th translate> NAME</th>
                                <th translate> TYPE</th>
                                <th></th>
                                <th></th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="item in vm.assignTargets track by item.id">
                                <td> {{$index+1}}</td>
                                <td><i class="fa fa-circle"
                                       zx-icon-status-class="item.generalStatus"
                                       is-enabled="item.is_enabled">
                                </i>
                                    {{((item.is_enabled)?vm.statuses[item.generalStatus]:"DISABLED")|translate}}
                                </td>
                                <td> {{item.name}}</td>
                                <td> {{item.type | uppercase}}</td>
                                <td><a href="javascript:"
                                       ng-click="vm.setSelectedTarget(item);vm.openModalPreview(false);">
                                    <i class="fa fa-eye"></i> {{'VIEW' | translate}}
                                </a>
                                </td>
                                <td><a href="javascript:"
                                       ng-click="vm.setSelectedTarget(item);vm.openModalHistory();">
                                    <i class="fa fa-line-chart"></i> {{'HISTORY' | translate}}
                                </a>
                                </td>
                                <td><a href="javascript:"
                                       ng-click="vm.deleteSelectTarget(item);">
                                    <i class="fa fa-trash"></i>
                                    {{'BTN_DELETE' | translate}}
                                </a>
                                </td>
                            </tr>
                            <tr ng-show="vm.assignTargets.length === 0">
                                <td colspan="6" class="text-center">{{'NO' | translate}} {{'PUBLISHING_TARGETS' | translate}}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </uib-tab>
        <uib-tab index="2">
            <uib-tab-heading>
                <i class="fa fa-exclamation pr-10"></i> {{'Events' | translate}}
            </uib-tab-heading>
            <div class="row">
                <div class="main col-md-12">
                    <zixi-events show-pagination="true" show-controls="reload" object-type="adaptive_channel"
                                 object-name="{{vm.selectedChannel.name}}"></zixi-events>
                </div>
            </div>
        </uib-tab>
    </uib-tabset>
</div>

