<div class="modal-header">
    <button type="button"
            class="close"
            ng-click="assignVm.closeModal()"
            aria-label="Close">
        <span aria-hidden="true">×</span>
    </button>
    <h4 class="modal-title">
        {{'BTN_ASSIGN'|translate}} {{'PUBLISHING_TARGET'| translate}} {{'TO'|translate}} '{{assignVm.selectChannel.name}}'</h4>
</div>
<div class="modal-body">
    <form>
        <div class="form-group">
            <label class="control-label" translate>PUBLISHING_TARGET</label>
            <select class="form-control"
                    ng-model="assignVm.newTarget"
                    ng-class="{'select-placeholder': !assignVm.newTarget.name}"
                    ng-options="item as item.name for item in assignVm.publicTargets">
                <option value="" disabled selected>{{'SELECT'|translate}} {{'PUBLISHING_TARGET'| translate}}</option>
            </select>
        </div>
    </form>
</div>
<div class="modal-footer">
    <button class="btn btn-default" type="button" ng-click="assignVm.closeModal();" translate>BTN_CANCEL</button>
    <button class="btn btn-primary" type="submit" ng-click="assignVm.assignNewTarget();" translate>BTN_ASSIGN</button>
</div>

