
    <div class="modal-header">
        <button type="button"
                class="close"
                ng-click="historyVm.closeModal()"
                aria-label="Close">
            <span aria-hidden="true">×</span>
        </button>
        <h4 class="modal-title" translate>HISTORY</h4>
    </div>
    <div class="modal-body">
        <iframe name="graph_iframe"
                ng-src="{{historyVm.getSourceURL()}}"
                style="height: 350px; width: 100%"
                frameborder="no"
                scrolling="no"
                marginwidth="0"
                marginheight="0"
                hspace="0"
                vspace="0">
        </iframe>
        <div class="row">
            <div class="col-sm-2 col-xs-3"><a target="graph_iframe" class='btn btn-link'
                   ng-href="{{historyVm.getSourceURL()}}"
                   ng-click="historyVm.selectTime='from=now-1h&to=now'">
                <i class="fa fa-clock-o"> </i>
                1 {{'HOUR' | translate}}
            </a>
            </div>
            <div class="col-sm-2 col-xs-3"><a target="graph_iframe" class='btn btn-link'
                   ng-href="{{historyVm.getSourceURL()}}"
                   ng-click="historyVm.selectTime='from=now-12h&to=now'">
                <i class="fa fa-clock-o"> </i>
                12 {{'HOURS' | translate}}
            </a>
            </div>
            <div class="col-sm-2 col-xs-3"><a target="graph_iframe" class='btn btn-link'
                   ng-href="{{historyVm.getSourceURL()}}"
                   ng-click="historyVm.selectTime='from=now-1d&to=now'">
                <i class="fa fa-clock-o"> </i>
                1 {{'DAY' | translate}}
            </a>
            </div>
            <div class="col-sm-2 col-xs-3"><a target="graph_iframe" class='btn btn-link'
                   ng-href="{{historyVm.getSourceURL()}}"
                   ng-click="historyVm.selectTime='from=now-1w&to=now'">
                <i class="fa fa-clock-o"> </i>
                1 {{'WEEK' | translate}}
            </a>
            </div>
            <div class="col-sm-2 col-xs-3"><a target="graph_iframe" class='btn btn-link'
                   ng-href="{{historyVm.getSourceURL()}}"
                   ng-click="historyVm.selectTime='from=now-30d&to=now'">
                <i class="fa fa-clock-o"> </i>
                1 {{'MOUNTH' | translate}}
            </a>
            </div>
            <div class="col-sm-2 col-xs-3"><a target="graph_iframe" class='btn btn-link'
                   ng-href="{{historyVm.getSourceURL()}}"
                   ng-click="historyVm.selectTime='from=now-1y&to=now'">
                <i class="fa fa-clock-o"> </i>
                1 {{'YEAR' | translate}}
            </a>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-default" type="button" ng-click="historyVm.closeModal()" translate>BTN_CLOSE</button>
    </div>

