<nav class="navbar" role="navigation">
  <div class="container-fluid">
    <div class="havbar-header">
      <!--<a class="btn navbar-btn navbar-toggle" ng-click="isCollapsed = !isCollapsed">-->
        <!--<span class="icon-bar"></span>-->
        <!--<span class="icon-bar"></span>-->
        <!--<span class="icon-bar"></span>-->
      <!--</a>-->
      <!-- BEGIN LOGO -->
      <a id="index" class="navbar-brand" ui-sref="dashboard"> <img src="/images/zixi-white.svg" alt="Logo"></a><span class="byline">Live Linear Streaming</span>
      <!-- END LOGO -->
      <!-- BEGIN TOPBAR ACTIONS -->
      <div class="topbar-actions">
          <div ng-include="'/app/account/logout-account.html'"></div>
      </div>
      <!-- END TOPBAR ACTIONS -->
    </div>
  </div>
  <!--/container-->
</nav>
