<div ng-controller="ShellController as vm">
    <div class="select-Lang">
        <select class="opt-lang"
                ng-model="vm.language"
                ng-options="key as value|translate for (key , value) in vm.locale"
                ng-change="vm.changeLanguage()">
        </select>
    </div>
    <header class="page-header">
        <ht-top-nav navline="vm.navline"></ht-top-nav>
    </header>
    <div class="container-fluid">
        <div class="page-content page-content-popup">
            <div ng-include="'/app/layout/topmenubar.html'"></div>
            <div class="page-sidebar-wrapper">
                <div ng-include="'/app/layout/sidebar.html'"></div>
            </div>
            <div class="page-fixed-main-content">
                <div ui-view></div>
            </div>

            <!--<div ngplus-overlay ngplus-overlay-delay-in="50" ngplus-overlay-delay-out="700"-->
            <!--ngplus-overlay-animation="dissolve-animation">-->
            <!--<img src="/images/busy.gif"/>-->
            <!--<div class="page-spinner-message overlay-message">{{vm.busyMessage}}</div>-->
            <!--</div>-->
        </div>

        <!-- BEGIN FOOTER -->
        <p class="copyright-v2">2016 © Zixi LLC. All rights reserved. </p>
        <a href="#index" class="go2top"> <i class="icon-arrow-up"></i> </a>
        <!-- END FOOTER -->
    </div>

</div>
