<div ng-show="vm.isAllowed" 
     ng-controller="TopmenubarController as vm" 
     class="page-content-fixed-header visible-xs-block visible-sm-block">
    <ul class="page-breadcrumb">
        <li>
            {{vm.title}}
        </li>
    </ul>
    <div class="content-header-menu">
        <button type="button" class="menu-toggler responsive-toggler" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="toggle-icon">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </span>
        </button>
    </div>
</div>
