<!-- BEGIN PAGE BASE CONTENT -->
<div class="portlet light profile-sidebar-portlet bordered">
    <div class="row">
        <div class="col-md-12">
            <div class="tableheader">
                <span class="title" translate>SOURCES</span>
                <div class="pull-right">
                    <span style="margin-right: 8px">
                        <div class="btn-group" role="group" aria-label="...">
                            <button type="button" class="btn btn-default"
                                    ng-click="vm.showActiveView('thumbs')"
                                    ng-class="{'btn-default': vm.activeView === 'table'}">
                                <i class="fa fa-th-large"></i></button>
                            <button type="button" class="btn"
                                    ng-click="vm.showActiveView('table')"
                                    ng-class="{'btn-default': vm.activeView === 'thumbs'}">
                                <i class="fa fa-table"></i></button>
                        </div>
                    </span>
                    <button class="btn btn-primary"
                            ng-click="vm.openAddSourceModal()">
                        <i class="fa fa-plus"></i> <span class='hidden-xs'>{{'BTN_ADD'|translate}} {{'SOURCE'|translate}}</span>
                    </button>
                    <button class="btn" style="margin-left: 8px"
                            ng-click="vm.refreshSources()">
                        <i class="fa fa-refresh"></i>
                    </button>
                </div>
                <div class="search-query">
                    <div class="input-group">
                        <input type="text" 
                               class="form-control"
                               translate
                               translate-attr-placeholder="SEARCH"
                               ng-model="vm.searchText"/>
                        <span class="input-group-btn">
                            <button class="btn btn-primary"
                                    type="button">
                                <span class="glyphicon glyphicon-search"></span>
                            </button>
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <div ng-init="vm.showActiveView('table')">
            <div class="col-md-12" ng-show="vm.activeView==='table'">
                <div class="table-scrollable clearfix" id="channeltable">
                    <table class="table table-hover selectable">
                        <thead>
                        <tr>
                            <th> #</th>
                            <th translate> STATUS</th>
                            <th translate> NAME</th>
                            <th translate> FEEDER</th>
                            <th translate> CLUSTER</th>
                            <th translate> PASSWORD</th>
                            <th translate> SOURCE_IP</th>
                            <th translate> BITRATE</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="source in vm.sources | multifilter:vm.searchText:['name', 'feeder_name', 'input_cluster'] as filteredSources track by source.id"
                            ng-click="vm.selectSource(source.name)"
                            ng-class="{'select-row': vm.selectedSource.name === source.name}">
                            <td>{{$index + 1}}</td>
                            <td><i class="fa fa-circle" zx-icon-status-class="source.generalStatus"
                                   is-enabled="source.is_enabled"></i>
                                {{(((source.state==="pending")&&(source.is_enabled))? 'PENDING' : vm.statuses[source.generalStatus])|translate}}
                            </td>
                            <td>{{source.name}}</td>
                            <td>{{source.feeder_name || 'Unmanaged'}}</td>
                            <td>{{source.broadcaster_cluster_name}}</td>
                            <td>
                                <a class="show-pass"
                                   ng-click="vm.showPassword($index); $event.stopPropagation()" ng-hide="vm.visiblePassIndex == $index">
                                    {{'SHOW'|translate}}
                                </a>
                                <span ng-show="vm.visiblePassIndex == $index"
                                      style="font-style: italic;">
                                    {{source.password}}
                                </span>
                            </td>
                            <td>{{source.source_ip}}</td>
                            <td>{{source.bitrate ? (source.bitrate | number:0) + 'kbps' : ''}}</td>
                            <td>
                            <span class="label label-sm"
                                  ng-class="{'label-danger': source.onAirStatus.status === 'offLine', 'label-success':
                                  source.onAirStatus.status === 'onLine' && source.onAirStatus.type ==='streaming', 'label-info': source.onAirStatus.status === 'onLine' && source.onAirStatus.type ==='standby'}">
                                {{source.onAirStatus.status + '.'}}
                                <span ng-show="source.onAirStatus.since">{{" Since: "}}</span>
                                <span ng-show="source.onAirStatus.since">{{source.onAirStatus.since | amDateFormat:'DD-MMM-YYYY'}}</span>
                                <span ng-show="source.onAirStatus.status === 'onLine' && source.onAirStatus.type ==='standby'">{{source.onAirStatus.type}}</span>
                            </span>
                            </td>

                        </tr>
                        <tr>
                            <td colspan="6" class="text-center" ng-show="vm.sources.length && !filteredSources.length">
                                {{'NO_RESULTS' | translate}}...
                            </td>
                            <td colspan="6" class="text-center" ng-show="!vm.sources.length && !filteredSources.length">
                                {{'NO_SOURCES' | translate}}
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div ng-show="vm.activeView==='thumbs'">
                <div class="col-md-12">
                    <!--Start Streams-->
                    <div class="streamarea">
                        <div class="streambox"
                             ng-class="{'select-row': vm.selectedSource.name === source.name}"
                             ng-click="vm.selectSource(source.name)"
                             ng-repeat="source in vm.sources | multifilter:vm.searchText:['name', 'feeder_name', 'input_cluster'] as filteredSources track by source.id">
                            <div class='imgbox'
                                 ng-class="{'error': source.generalStatus == 'bad'}">
                                <zx-stream-preview ng-if="vm.activeView==='thumbs'" source="{{source.preview_url}}">
                            </div>
                            <div class="infobar">
                            <span class="stream-name pull-left">
                                <i class="fa fa-circle"
                                   zx-icon-status-class="source.generalStatus"
                                   is-enabled="source.is_enabled">
                                </i>
                                {{(source.state==="pending")? 'Pending' : vm.statuses[source.generalStatus]}}</span>
                                <span class="uptime"><b>{{source.name}}</b></span>
                                <span class="pull-right">{{source.feeder_name}}</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div ng-hide="vm.selectedSource">
        <hr class="info-msg">
        <h4 class="info-msg"> {{'SELECT' | translate }} {{'SOURCE' | translate }} {{'ABOVE' | translate }}</h4>
        <div class="row info-msg" style="min-height: 250px;">
        </div>
    </div>

    <hr class="">

    <h4 class="" ng-show="vm.selectedSource">{{'SOURCE' | translate}}:{{vm.selectedSource.name}}</h4>

    <uib-tabset active="active" ng-show="vm.selectedSource">
        <uib-tab index="0">
            <uib-tab-heading>
                <i class='fa fa-list-ul pr-10'></i>
                <span class="hidden-xs" translate>DETAILS</span>
                <span class="visible-xs-inline" ng-show="active==0" translate>DETAILS</span>
            </uib-tab-heading>
            <form class="form-horizontal form-condensed" name="updateSourceForm"
                  ng-submit="updateSourceForm.$valid && vm.updateSource(vm.selectedSource.name)" novalidate>

                <div class="tableheader">
                    <span class="title">&nbsp;</span>
                    <div class="pull-right">
                        <button class="btn btn-primary"
                                ng-click="vm.enableEditMode()"
                                ng-show="!vm.isEditModeEnabled"
                                translate
                                type="button">
                            BTN_EDIT
                        </button>
                        <button ng-click="vm.toggleSourceEnableStatus(vm.selectedSource.name)"
                                ng-show="!vm.isEditModeEnabled"
                                class="btn"
                                ng-class="{'btn-warning': vm.selectedSource.is_enabled,
                                'btn-success': !vm.selectedSource.is_enabled}"
                                style="min-width:77px;"
                                translate
                                type="button">
                            {{((vm.selectedSource.is_enabled) ? 'BTN_DISABLE' : 'BTN_ENABLE') | translate}}
                        </button>
                        <button class="btn btn-danger"
                                ng-show="!vm.isEditModeEnabled"
                                translate
                                ng-click="vm.removeSource(vm.selectedSource.name)" type="button">
                            BTN_DELETE
                        </button>
                        <button class="btn btn-primary edit"
                                ng-show="vm.isEditModeEnabled"
                                translate
                                type="submit">
                            BTN_SAVE
                        </button>
                        <button class="btn edit"
                                ng-click="vm.disableEditMode()"
                                translate
                                ng-show="vm.isEditModeEnabled" type="button">
                            BTN_CANCEL
                        </button>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-8 col-xs-12">
                        <div class="form-group"
                             ng-class="{'has-error': vm.isEditModeEnabled && updateSourceForm.$submitted && updateSourceForm.name.$error.required}">
                            <label class="col-xs-4 control-label" translate>NAME</label>
                            <div class="col-xs-8">
                                <p class="form-control-static edit-alt">{{vm.selectedSource.name}}</p>
                                <!--<input type="text"-->
                                <!--name="name"-->
                                <!--ng-show="vm.isEditModeEnabled"-->
                                <!--class="form-control input-inline input-medium edit"-->
                                <!--ng-model="vm.editingSource.name"-->
                                <!--required>-->
                                <div class="help-block" ng-show="vm.isEditModeEnabled && updateSourceForm.$submitted">
                                    <span ng-show="updateSourceForm.name.$error.required">{{'NAME'|translate}} {{'CANNOT_BE_EMPTY'| translate}}</span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-xs-4 control-label">{{'VIEW'|translate}} {{'SOURCE'| translate}}</label>
                            <div class="col-xs-1">
                                <a href="data:application/videolan,{{vm.selectedSource.view_url}}" download="{{vm.selectedSource.name}}.vlc"
                                   class='btn btn-xs' style="padding: 7px 8px;">
                                    <i class="fa fa-play"></i>
                                </a>
                            </div>
                            <div class="col-xs-7">
                                <p class="form-control-static small">
                                    (Requires <a target="_blank" href="http://www.videolan.org/vlc/">VLC</a> with <a target="_blank" href="http://downloads.zixi.com/free/zixi_vlc_plugin-win32-1.9-latest.zip">Zixi plugin</a>)
                                </p>
                            </div>
                        </div>
                        <div class="form-group"
                             ng-class="{'has-error': vm.isEditModeEnabled && updateSourceForm.$submitted && updateSourceForm.resource_tag.$error.required}">
                            <label class="col-xs-4 control-label" translate>ACCESS_TAG</label>
                            <div class="col-xs-8">
                                <p class="form-control-static edit-alt"
                                   ng-show="!vm.isEditModeEnabled">{{vm.selectedSource.resource_tag_name}}</p>
                                <select class="form-control edit"
                                        name="resource_tag"
                                        ng-show="vm.isEditModeEnabled"
                                        ng-model="vm.editingSource.resourceTag.id"
                                        ng-options="resourceTag.id as resourceTag.name for resourceTag in vm.resourceTags">
                                </select>
                                <div class="help-block" ng-show="vm.isEditModeEnabled && updateSourceForm.$submitted">
                                    <span ng-show="updateSourceForm.resource_tag.$error.required">
                                        {{'ACCESS_TAG'|translate}} {{'CANNOT_BE_EMPTY'| translate}}
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-xs-4 control-label">{{'INPUT'|translate}} {{'CLUSTER'| translate}}</label>
                            <div class="col-xs-8">
                                <p class="form-control-static edit-alt"
                                >{{vm.selectedSource.broadcaster_cluster_name}}</p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-xs-4 control-label" translate>FEEDER</label>
                            <div class="col-xs-8">
                                <p class="form-control-static edit-alt"
                                   ng-show="!vm.isEditModeEnabled">{{vm.selectedSource.feeder.name}}</p>
                                <select class="form-control edit"
                                        name="feeder"
                                        ng-show="vm.isEditModeEnabled"
                                        ng-model="vm.editingSource.feeder_id"
                                        ng-change="vm.getFeederInputs(vm.editingSource.feeder_id)"
                                        ng-options="feeder.id as feeder.name for feeder in vm.feeders">
                                </select>
                            </div>
                        </div>
                        <div class="form-group"
                             ng-show="!vm.isEditModeEnabled && vm.selectedSource.feeder.name !=='Unmanaged'">
                            <label class="col-xs-4 control-label">{{'FEEDER'|translate}} {{'INPUT'| translate}}</label>
                            <div class="col-xs-8">
                                <p class="form-control-static edit-alt"
                                >{{vm.selectedSource.feeder_input}}</p>
                            </div>
                        </div>
                        <div class="form-group"
                             ng-show="vm.isEditModeEnabled && vm.editingSource.feeder_id !== null">
                            <label class="col-xs-4 control-label">{{'FEEDER'|translate}} {{'INPUT'| translate}}</label>
                            <div class="col-xs-8">
                                <select class="form-control input-inline input-medium edit"
                                        name="feeder_input"
                                        ng-model="vm.editingSource.feeder_input"
                                        ng-options="feeder_input.name as (feeder_input | prettyFeederInput) for feeder_input in vm.feederInputs"
                                        ng-show="vm.isEditModeEnabled">
                                </select>
                            </div>
                        </div>
                        <div class="form-group"
                             ng-class="{'has-error': vm.isEditModeEnabled && updateSourceForm.$submitted && updateSourceForm.password.$error.required}">
                            <label class="col-xs-4 control-label" translate>PASSWORD</label>
                            <div class="col-xs-8">
                                <p class="form-control-static edit-alt" type="password"
                                   ng-show="!vm.isEditModeEnabled">
                                   <a class="show-pass"
                                       ng-click="vm.selectedSource.isVisiblePass=true" ng-hide="vm.selectedSource.isVisiblePass">
                                       {{'SHOW'|translate}}
                                    </a>
                                    <span ng-show="vm.selectedSource.isVisiblePass"
                                          style="font-style: italic;">
                                        {{vm.selectedSource.password}}
                                    </span>
                                </p>
                                <input type="password"
                                       name="password"
                                       ng-show="vm.isEditModeEnabled"
                                       ng-init="vm.editingSource.password = vm.selectedSource.password"
                                       ng-model="vm.editingSource.password"
                                       class="form-control input-inline input-medium edit"
                                       required>
                                <div class="help-block" ng-show="vm.isEditModeEnabled && updateSourceForm.$submitted">
                                    <span
                                        ng-show="updateSourceForm.password.$error.required">
                                        {{'PASSWORD'|translate}} {{'CANNOT_BE_EMPTY'| translate}}
                                    </span>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </form>
            <!-- Permission Group end -->
        </uib-tab>
        <uib-tab index="1">
            <uib-tab-heading>
                <i class="fa fa-line-chart pr-10"></i>
                <span class="hidden-xs" translate>HISTORY</span>
                <span class="visible-xs-inline" ng-show="active==1" translate>HISTORY</span>
            </uib-tab-heading>
            <div class="row">
                <div class="col-xs-12" ng-show="vm.selectedSource">
                    <iframe name="graph_iframe"
                            ng-if="active==1"
                            ng-src="{{vm.createHistoryUrl(vm.selectedSource, 'from=now-1h&to=now')}}"
                            style="height: 350px; width: 100%" frameborder="no" scrolling="no"
                            marginwidth="0" marginheight="0" hspace="0" vspace="0"></iframe>
                    <div class="row">
                        <div class="col-sm-2 col-xs-3"><a class='btn btn-link' target="graph_iframe"
                               href="{{vm.createHistoryUrl(vm.selectedSource, 'from=now-1h&to=now')}}"><i
                            class="fa fa-clock-o"> </i> 1 {{'HOUR' | translate}}</a></div>
                        <div class="col-sm-2 col-xs-3"><a class='btn btn-link' target="graph_iframe"
                               href="{{vm.createHistoryUrl(vm.selectedSource, 'from=now-12h&to=now')}}"><i
                            class="fa fa-clock-o"> </i> 12 {{'HOURS' | translate}}</a></div>
                        <div class="col-sm-2 col-xs-3"><a class='btn btn-link' target="graph_iframe"
                               href="{{vm.createHistoryUrl(vm.selectedSource, 'from=now-1d&to=now')}}"><i
                            class="fa fa-clock-o"> </i> 1 {{'DAY' | translate}}</a></div>
                        <div class="col-sm-2 col-xs-3"><a class='btn btn-link' target="graph_iframe"
                               href="{{vm.createHistoryUrl(vm.selectedSource, 'from=now-1w&to=now')}}"><i
                            class="fa fa-clock-o"> </i> 1 {{'WEEK' | translate}}</a></div>
                        <div class="col-sm-2 col-xs-3"><a class='btn btn-link' target="graph_iframe"
                               href="{{vm.createHistoryUrl(vm.selectedSource, 'from=now-30d&to=now')}}"><i
                            class="fa fa-clock-o"> </i> 1 {{'MOUNTH' | translate}}</a></div>
                        <div class="col-sm-2 col-xs-3"><a class='btn btn-link' target="graph_iframe"
                               href="{{vm.createHistoryUrl(vm.selectedSource, 'from=now-1y&to=now')}}"><i
                            class="fa fa-clock-o"> </i> 1 {{'YEAR' | translate}}</a></div>
                    </div>
                </div>
            </div>
            <!-- Permission Group end -->
        </uib-tab>
        <uib-tab index="2">
            <uib-tab-heading>
                <i class="fa fa-exclamation pr-10"></i>
                <span class="hidden-xs" translate>EVENTS</span>
                <span class="visible-xs-inline" ng-show="active==2" translate>EVENTS</span>
            </uib-tab-heading>
            <div class="row">

                <!-- main start -->
                <!-- ================ -->
                <div class="main col-md-12">
                    <zixi-events show-pagination="true" show-controls="reload" object-type="source" object-name="{{vm.selectedSource.name}}"></zixi-events>
                </div>
            </div>
        </uib-tab>
        <uib-tab index="3">
            <uib-tab-heading>
                <i class="fa  fa-info pr-10"></i>
                <span class="hidden-xs" translate>MANUAL_CONFIGURATION</span>
                <span class="visible-xs-inline" ng-show="active==3" translate>MANUAL_CONFIGURATION</span>
            </uib-tab-heading>
            <!-- Tab panes -->
            <br>
            <h4 translate>MANUAL_CONFIGURATION_TITLE</h4>
            <dl class="dl-horizontal">
                <dt translate>HOST</dt>
                <dd>{{vm.selectedSource.input_cluster_dns_prefix}}.{{vm.customer_dns_prefix}}{{vm.application_host}}</dd>
                <dt translate>PORT</dt>
                <dd>{{vm.selectedSource.input_cluster_inputs_port}}</dd>
                <dt>{{'STREAM' | translate}} ID</dt>
                <dd>{{vm.selectedSource.name}}</dd>
                <dt translate>PASSWORD</dt>
                <dd>
                    <a class="show-pass"
                       translate
                       ng-click="vm.selectedSource.isVisiblePass=true" ng-hide="vm.selectedSource.isVisiblePass">
                       SHOW
                    </a>
                    <span ng-show="vm.selectedSource.isVisiblePass"
                          style="font-style: italic;">
                        {{vm.selectedSource.password}}
                    </span>
                </dd>
            </dl>
        </uib-tab>
    </uib-tabset>
</div>

<!-- END PAGE BASE CONTENT -->
